/* Notification center */

.blurredBG,
#main_window,
.blurredBG.low,
.blurredBG.normal {
  background: rgba(40, 42, 54, 0.5);
}

.noti-center.time {
  font-size: 4em;
}

/* Notifications */

.title {
  font-weight: bold;
  font-size: 1em;
}

.appname {
  font-size: 0.75em;
}

.time {
  font-size: 0.75em;
}

.blurredBG.notification {
  background: rgba(68, 71, 90, 1);

  border-color: rgba(189, 147, 249, 1);
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
}

.blurredBG.notification.critical {
  background: rgba(255, 85, 85, 1);

  border-color: rgba(255, 110, 110, 1);
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
}

.notificationInCenter.critical {
  background: rgba(255, 85, 85, 1);

  border-color: rgba(255, 110, 110, 1);
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
}

.notificationInCenter {
  background: rgba(68, 71, 90, 1);

  border-color: rgba(189, 147, 249, 1);
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
}

/* Labels */

label {
  color: rgba(248, 248, 242, 1);
}

label.notification {
  color: rgba(248, 248, 242, 1);
}

label.critical {
  color: rgba(248, 248, 242, 1);
}
.notificationInCenter label.critical {
  color: rgba(248, 248, 242, 1);
}

/* Buttons */

button {
  background: transparent;
  color: rgba(248, 248, 242, 1);

  border-radius: 3px;
  border-width: 0px;
  background-position: 0px 0px;
  text-shadow: none;
}

button:hover {
  border-radius: 3px;
  background: rgba(0, 20, 20, 0.2);
  border-width: 0px;
  border-top: transparent;
  border-color: #f00;
  color: rgba(248, 248, 242, 1);
}

/* Images */

image.deadd-noti-center.notification.image {
  margin-left: 20px;
}
