/** Global *******************************************/

$accent: #7aa2f7;
$red: #f7768e;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: #a9b1d6;
$background: #24283b;
$background-bright: #3A404C;
$foreground: #E5E9F0;


*{
	all: unset;
	font-family: feather;
	font-family: Hack;
}

/** Background ***************************************/
.bg {
	background-color: $accent;
	opacity: 0.2;
}

/** Generic window ***********************************/
.genwin {
	background-color: $background;
	border-radius: 16px;
}

/** BTW window ***********************************/
.btw-icon {
	background-size: 20px;
	background-color: $background;
    background-repeat: no-repeat;
    background-position: center;

    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: $accent;

	margin : 2px;
}

/** Profile ******************************************/
.face {
	background-image: url('images/fox.png');
	background-size: 175px;
	background-position: 50% 35%;
	min-height: 175px;
	min-width: 175px;
	margin: 40px 0px 0px 2px;
	border-radius: 100%;
}

.fullname {
	color: $accent;
	font-size : 30px;
	font-weight : bold;
}

.username {
	color: $magenta;
	font-size : 22px;
	font-weight : bold;
	margin : -15px 0px 0px 0px;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright {
	font-size : 22px;
	font-weight : normal;
}
.iconcpu {
	color: $red;
}
.iconmem {
	color: $green;
}

.cpu_bar, .mem_bar, .bright_bar, scale trough {
	all: unset;
	background-color: $background-bright;
	border-radius: 16px;
	min-height: 12px;
	min-width: 170px;
}

.cpu_bar, .mem_bar, .bright_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: $red;
}
.mem_bar scale trough highlight {
	background-color: $green;
}

/** Clock ********************************************/
.clock_time {
	color: $accent;
	font-size : 45px;
	font-weight : bold;
}

.clock_day {
	color: $yellow;
	font-size : 17px;
	font-weight : normal;
}

/** Uptime ********************************************/
.icontimer {
	color: $magenta;
	font-size : 50px;
	font-weight : normal;
}

.uphour {
	color: $foreground;
	font-size : 28px;
	font-weight : bold;
}

.upmin {
	color: $foreground;
	font-size : 22px;
	font-weight : bold;
}

/** Music ***************************************/
.album_art {
	background-size: cover;	
	background-position: center;
	min-height: 200px;
	min-width: 200px;
	margin: 20px;
	border-radius: 14px;
}

.album_art-large {
	background-size: cover;	
	background-position: center;
	min-height: 300px;
	min-width: 300px;
	margin: 20px;
	border-radius: 14px;
}

.song {
	color: #8FBCBB;
	font-size : 18px;
	font-weight : bold;
	margin : 15px 0px 0px 0px;
}

.artist {
	color: $yellow;
	font-size : 14px;
	font-weight : normal;
	margin : 0px 0px 0px 0px;
}

.btn_prev, .btn_play, .btn_next {
	font-family: Iosevka Nerd Font;
}
.btn_prev {
	color: $yellow;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color: $green;
	font-size : 40px;
	font-weight : bold;
}
.btn_next {
	color: $yellow;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: $magenta;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: $background-bright;
	border-radius: 8px;
	min-height: 10px;
	min-width: 180px;
	margin : 0px 10px 0px 0px;
}

/** Weather ***************************************/
.iconweather {
	font-family: Iosevka Nerd Font;
	font-size : 58px;
	font-weight : normal;
	margin : 10px 0px 0px 30px;
}

.label_temp {
	color : #A6D1DD;
	font-size : 54px;
	font-weight : bold;
	margin : 15px 25px 0px 0px;
}

.label_stat {
	color : $red;
	font-size : 30px;
	font-weight : bold;
	margin: 0px 0px 10px 0px;
}

.label_quote {
	color : $foreground;
	font-size : 18px;
	font-weight : normal;
}

/** Applications ***************************************/
.appbox {
	margin : 10px 0px 0px 12px;
}

.app {
    background-repeat: no-repeat;
	background-size: 54px;
	min-height: 54px;
	min-width: 54px;
	margin: 5px 7px 0px 7px;
}

/** Links ***************************************/
.iconweb, .iconmail, .iconreads {
	color: #FFFFFF;
	font-family: Iosevka Nerd Font;
	font-size : 60px;
	font-weight : normal;
}
.iconmail {
	color: #DF584E;
}
.iconreads {
	color: #372213;
}

.github {
	background-color: #24292E;
	border-radius: 16px;
}
.reddit {
	background-color: #E46231;
	border-radius: 16px;
}
.twitter {
	background-color: #61AAD6;
	border-radius: 16px;
}
.youtube {
	background-color: #DF584E;
	border-radius: 16px;
}
.nixos {
	background-color: #4c6eb1;
	border-radius: 16px;
}
.mail {
	background-color: #FFFFFF;
	border-radius: 16px;
}
.goodreads {
	background-color: #F4F1EA;
	border-radius: 16px;
}

/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 48px;
	font-weight : bold;
}

.btn_logout {
	color: $green;
}
.btn_sleep {
	color: $yellow;
}
.btn_reboot {
	color: $cyan;
}
.btn_poweroff {
	color: $red;
}

/** Home folders ***************************************/
.hddbox {
	background-color: #414868;
	border-radius: 10px;
	margin : 15px;
    padding: 20px;
}
.hddicon {
	color: $accent;
	font-family: Iosevka Nerd Font;
	font-size : 70px;
	font-weight : normal;
	margin : 5px 10px 5px 25px;
}
.hdd_label {
	color: $foreground;
	font-size : 32px;
	font-weight : bold;
	margin : 0px 0px 0px 10px;
}
.fs_sep {
	color: #2E3440;
	font-size : 34px;
	font-weight : bold;
}

.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-family: Iosevka Nerd Font;
	font-size : 24px;
	font-weight : normal;
	margin : 0px 0px 0px 35px;
}
.iconfolder1 {
	color: $red;
}
.iconfolder2 {
	color: $green;
}
.iconfolder3 {
	color: $yellow;
}
.iconfolder4 {
	color: $accent;
}
.iconfolder5 {
	color: $magenta;
}
.iconfolder6 {
	color: $cyan;
}

.label_folder1, .label_folder2, .label_folder3, .label_folder4, .label_folder5, .label_folder6  {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;
}
.label_folder1 {
	color: $red;
}
.label_folder2 {
	color: $green;
}
.label_folder3 {
	color: $yellow;
}
.label_folder4 {
	color: $accent;
}
.label_folder5 {
	color: $magenta;
}
.label_folder6 {
	color: $cyan;
}

/** EOF *************************************************/
